<h1>Inget konsekuensinya.....!</h1>
<p> Welcome to the home <%= @owner.name %>.</p>
<p> I Was born at <%= @owner.birthdate %>.</P>
<p> and today is <%= @owner.ayeuna %>.</P>
<p> So, it's Only <%= @owner.countdown %> days until my birthday !</p>